.footer {
  width: 100%;
  height: 200px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia i {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media screen and (max-width: 800px) {
  .socialMedia i {
    font-size: 58px;
  }
}

@media screen and (max-width: 639px) {
  .socialMedia i {
    font-size: 50px;
  }
}

@media screen and (max-width: 530px) {
  .socialMedia i {
    font-size: 44px;
  }
}

@media screen and (max-width: 475px) {
  .socialMedia i {
    font-size: 40px;
  }
}
